In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
read1=pd.read_csv('vgsales.csv')

In [3]:
read1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [4]:
read1.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [5]:
read1.drop(['Rank'],axis=1,inplace=True)

In [6]:
read1

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [7]:
read1.Year.max()

2020.0

In [8]:
read1.Year.min()

1980.0

In [9]:
var1=['Year','Name','Publisher','Genre']
new_df=read1[var1]

In [10]:
new_df

,Year,Name,Publisher,Genre
0,2006.0,Wii Sports,Nintendo,Sports
1,1985.0,Super Mario Bros.,Nintendo,Platform
2,2008.0,Mario Kart Wii,Nintendo,Racing
3,2009.0,Wii Sports Resort,Nintendo,Sports
4,1996.0,Pokemon Red/Pokemon Blue,Nintendo,Role-Playing
...,...,...,...,...
16593,2002.0,Woody Woodpecker in Crazy Castle 5,Kemco,Platform
16594,2003.0,Men in Black II: Alien Escape,Infogrames,Shooter
16595,2008.0,SCORE International Baja 1000: The Official Game,Activision,Racing
16596,2010.0,Know How 2,7G//AMES,Puzzle
16597,2003.0,Spirits & Spells,Wanadoo,Platform

In [14]:
new_df.sort_values(by=['Year'],ascending=False).head(10)

,Year,Name,Publisher,Genre
5957,2020.0,Imagine: Makeup Artist,Ubisoft,Simulation
14390,2017.0,Phantasy Star Online 2 Episode 4: Deluxe Package,Sega,Role-Playing
16241,2017.0,Phantasy Star Online 2 Episode 4: Deluxe Package,Sega,Role-Playing
16438,2017.0,Brothers Conflict: Precious Baby,Idea Factory,Action
8293,2016.0,Shin Megami Tensei IV: Final,Deep Silver,Role-Playing
13647,2016.0,Hitman (2016),Square Enix,Action
13596,2016.0,Card Fight!! Vanguard G: Stride to Victory!!,FuRyu,Misc
13602,2016.0,Refrain no Chika Meikyuu to Majo no Ryodan,Nippon Ichi Software,Action
13614,2016.0,Utawarerumono: Futari no Hakuoro,Aqua Plus,Misc
13620,2016.0,Kamen Rider: Battride War Genesis,Namco Bandai Games,Action

data has been updated in 2020 after 2017 , so we have to remove it.....

In [15]:
read1.drop(read1[read1.Year>2017].index, inplace=True)

In [17]:
read1.describe()

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16326.000000,16597.000000,16597.000000,16597.000000,16597.000000,16597.000000
mean,2006.405611,0.264667,0.146661,0.077786,0.048065,0.537456
std,5.828189,0.816708,0.505365,0.309299,0.188594,1.555074
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,2017.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [19]:
read1.sort_values(by=['Year'],ascending=False).head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16438,Brothers Conflict: Precious Baby,PSV,2017.0,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01
16241,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017.0,Role-Playing,Sega,0.00,0.00,0.01,0.00,0.01
14390,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0.00,0.00,0.03,0.00,0.03
3145,NBA 2K17,XOne,2016.0,Sports,Take-Two Interactive,0.54,0.04,0.00,0.07,0.64
15184,Sengoku Otome: Legend Battle,PSV,2016.0,Action,Unknown,0.00,0.00,0.02,0.00,0.02
16260,Paragon,PS4,2016.0,Action,Epic Games,0.01,0.00,0.00,0.00,0.01
15166,Aegis of Earth: Protonovus Assault,PS4,2016.0,Action,PQube,0.02,0.00,0.00,0.00,0.02
9250,Far Cry: Primal,PC,2016.0,Action,Ubisoft,0.04,0.09,0.00,0.01,0.14
5056,FIFA 17,PS3,2016.0,Sports,Electronic Arts,0.02,0.29,0.01,0.05,0.38
16252,The Book of Unwritten Tales 2,WiiU,2016.0,Adventure,Nordic Games,0.00,0.01,0.00,0.00,0.01